{% load static %}

<link href="{% static 'css/vote_container.css' %}" rel="stylesheet">

<div class="row answer-card-cls" id="answer-{{ answer.id }}" data-answer-id="{{ answer.id }}">
    <div class="d-flex col-1 justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            {% if answer.is_accepted  %}
                <button type="button" class="circle-button-accepted is-accepted-button" {% if not is_author %} disabled {% endif %}>
                    <i class="fas fa-check"></i>
                </button>
            {% else %}
                <button type="button" class="circle-button-empty is-accepted-button" {% if not is_author %} disabled {% endif %}>
                </button>
            {% endif %}
        </div>
    </div>
    <div class="d-flex col card custom-card w-100 answer-card">
        <div class="card-body">
            <div class="row">
                <div class="d-flex col-2 align-items-center justify-content-center">
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center">
                        <div>
                            <h6 class="card-subtitletext-body-secondary">{{ answer.user.user.username }}</h6>
                        </div>

                        <div class="answer-image-container mb-3">
                            {% if answer.user.profile_picture %}
                                <img src="{{ answer.user.profile_picture.url }}" alt="Avatar"
                                    class="img-fluid answer_profile_image">
                            {% else %}
                                <img src="{{ default_profile_image }}" alt="Avatar"
                                    class="img-fluid answer_profile_image">
                            {% endif %}
                        </div>

                        {% include 'layouts/vote_container.html' with votes_count=answer.votes_count %}
                    </div>
                </div>
                <div class="d-flex col-1 align-items-center justify-content-center">
                </div>
                <div class="d-flex col flex-column">
                    <h6 class="card-subtitle mb-2 text-body-secondary mt-2 answer-content">{{ answer.body }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
