{% load static %}
{% load login_extras %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block tab_title %}Ask Pumpkin{% endblock %}
    </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/right-side.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand text-start" href="{% url 'index' %}">AskPumpkin</a>

                <form class="d-flex navbar-form text-center" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="{% url 'ask' %}" class="btn btn-outline-success" type="button">Ask a question</a>
                </form>
                
                <div class="text-end">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'settings' %}" style="text-decoration: none;">
                            <div class="d-flex align-items-center profile-container" role="button">
                                {% if current_profile.profile_picture %}
                                    <img src="{{ current_profile.profile_picture.url }}" alt="Profile Image"
                                        class="profile-image">
                                {% else %}
                                    <img src="{{ default_profile_image }}" alt="Profile Image"
                                        class="profile-image">
                                {% endif %}
                
                                <div class="ms-3">
                                    <span class="fw-bold text-dark" style="text-decoration: none;">{{ current_profile.user.username }}</span>
                                    <br>
                                    <a class="text-decoration-none text-muted small" href="{% url 'logout' %}">log out</a>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="d-flex align-items-center">
                            <a href="{% url 'register' %}" class="btn btn-outline-primary me-2">Sign up</a>
                            <a href="{% get_login_url_with_continue %}" class="btn btn-primary">Log in</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-3">
        <div class="d-flex align-items-center mb-4 ms-1">
            {% block page_content_title_data %}
            <h2>
                {% block page_content_title %}
                {% endblock %}
            </h2>
            {% endblock %}
        </div>

        <div class="row mb-5">
            <div class="col-9">
                {% block content %}
                {% endblock %}
            </div>

            <div class="col d-flex flex-column gap-2">
                <section class="mb-3">
                    <div class="d-flex flex-column gap-2">
                        <h3>Popular tags</h3>
                        <div>
                            {% for tag in popular_tags %}
                                {% include 'layouts/tag-element.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Best members</h3>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in top_users %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        
                                        <td>
                                            <li class="list-group-item best-member-item">
                                                {{ user.user.username }}
                                            </li>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>