{% extends 'layouts/base.html' %}
{% load static %}

{% block user_corner %}
    <a href="{% url 'settings' %}" style="text-decoration: none;">
        <div class="d-flex align-items-center profile-container" role="button">
            <img src="{% static 'img/Avatar.jpg' %}" alt="Profile Image" class="profile-image">

            <div class="ms-3">
                <span class="fw-bold text-dark" style="text-decoration: none;">Mr Igor</span>
                <br>
                <a class="text-decoration-none text-muted small">log out</a>
            </div>
        </div>
    </a>
{% endblock %}
