{% load static %}

<link href="{% static 'css/vote_container.css' %}" rel="stylesheet">
<link href="{% static 'css/question_card.css' %}" rel="stylesheet">

<div class="card w-100" style="width: 18rem; padding-bottom: 10px; padding-top: 10px;">
    <div class="card-body question-card" data-question-id="{{ question.id }}">
        <div class="row">
            <div class="d-flex col-2 flex-column align-items-center gap-2 justify-content-center mb-2">
                {% if question.user.profile_picture %}
                    <img src="{{ question.user.profile_picture.url }}" alt="Profile Image"
                        class="img-fluid question_profile_image">
                {% else %}
                    <img src="{{ default_profile_image }}" alt="Profile Image"
                        class="img-fluid question_profile_image">
                {% endif %}
                {% include 'layouts/vote_container.html' with votes_count=question.votes_count %}
            </div>
            <div class="d-flex col-9 flex-column">
                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}" class="question-title">
                        {{ question.title }}
                    </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary mt-2">{{ question.body }}</h6>

                <div class="d-flex gap-4 mt-auto mb-1">
                    <a href="{% url 'question' question.id %}" class="card-link text-decoration-none">Answers: ({{ question.answers.count }})</a>
                    <div class="d-flex flex-row">
                        <div class="text me-3">Tags:</div>

                        {% for tag in question.tags.all %}
                            {% include 'layouts/tag-element.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
