.navbar {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
}
.search-form-control, .navbar-form {
    height: 40px;
}
.navbar-form input, .navbar-form button {
    max-height: 100%;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
}
.navbar-form input {
    width: 300px;
}
.navbar-form button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #6c757d; 
}
.profile-container {
    padding: 10px;
}
/* Hover Effect */
.profile-container:hover {
    border-radius: 10px;
    padding: 10px;
    background-color: #eaebed;
    transition: background-color 0.3s ease;
}
