.question_profile_image {
    border-radius: 50%;
    border: #eaebed;
    height: 90px;
    width: 90px;
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
}

.question-title {
    color: #000;
    text-decoration: none;
}

.question-title {
    font-weight: 600;
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.question-title:hover {
    color: #000000;
    text-decoration: underline;
}

.cards_width {
    width: 90% !important;
}
