.tag-search-link {
    color: #555;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #f0f0f0;
    padding: 2px 10px;
    margin-right: 5px;
    text-decoration: none;
}

.best-member-item {
    font-weight: 600;
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.best-member-item:hover {
    color: #000000;
    text-decoration: underline;
}
