.vote-controller {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.vote-controller button {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;

    background-color: #eaeaea;
    color: black;
    border: 1px solid #dbdbdb;
    border-radius: 30%;

    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}
.vote-controller button:hover {
    background-color: #c0c0c0;
}
.vote-count {
    width: 60px;
    text-align: center;
}
