{% extends 'layouts/base.html' %}
{% load static %}

{% block tab_title %}
    AskPumpkin: ask
{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/ask.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content_title %}
    New Question
{% endblock %}

{% block content %}
<form class="d-flex flex-column gap-1" action="{% url 'ask' %}" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column gap-3 mb-3 w-80">
        <div>
            <div class="col-3 input-group mb-3">
                <div class="w-100">
                    <h6>Title</h6>
                    {{ form.title }}
                    {% for error in form.title.errors %}
                        <div class="invalid-feedback error-message" id="passwordFeedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="w-100">
                    <h6>Description</h6>
                    {{ form.body }}
                    {% for error in form.body.errors %}
                        <div class="invalid-feedback error-message" id="passwordFeedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="w-100">
                    <h6>Tags</h6>
                    {{ form.tags_input }}
                    {% for error in form.tags_input.errors %}
                        <div class="invalid-feedback error-message" id="passwordFeedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
