{% extends 'layouts/base.html' %}
{% load static %}

{% block tab_title %}Ask Pumpkin: hot{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content_title %}
    Hot Questions
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-3 cards_width mb-4">
        {% for question in questions %}
            {% include 'layouts/question_card.html' %}
        {% endfor %}
    </div>
    
    {% include 'layouts/pagination.html' %}
{% endblock %}
