{% extends 'layouts/base_login.html' %}
{% load static %}

{% block tab_title %}Ask Pumpkin{% endblock %}

{% block page_content_title_data %}
    <div class="d-flex justify-content-between align-items-baseline gap-5">
        <h2>New Questions</h2>
        <a href="{% url 'hot' %}" class="text-decoration-none"><h4>Hot Questions</h4></a>
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-3 cards_width mb-4">
        {% for question in questions %}
            {% include 'layouts/question_card.html' %}
        {% endfor %}
    </div>
    
    {% include 'layouts/pagination.html' %}
{% endblock %}
