{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block tab_title %}Ask Pumpkin: login{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="login">
        <div class="d-flex flex-column align-items-center mb-4 ms-1">
            <form class="d-flex flex-column gap-1" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="d-flex align-items-center mb-4 ms-1">
                    <h2>Log In</h2>
                </div>
                
                <input type="hidden" name="continue" value="{{ continue }}">
                {% bootstrap_form form %}

                <button class="btn btn-primary w-100 py-1" type="submit">Sign in</button>
                <div class="mt-2">
                    <p>or</p>
                </div>
            </form>
            <a href="{% url 'register' %}" class="btn btn-outline-primary w-100 py-1">Create new account</a>
        </div>    
    </div>
{% endblock %}
