{% extends 'layouts/base.html' %}
{% load static %}

{% block tab_title %}
    AskPumpkin: settings
{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/settings.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content_title %}
    Settings
{% endblock %}

{% block content %}
    <form class="d-flex flex-column gap-4 mb-4" action="{% url 'profile_edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
                <h6>Login</h6>
            </div>
            <div class="col-5">
                {{ user_form.username }}
                {% for error in user_form.username.errors %}
                    <div class="invalid-feedback error-message" id="passwordFeedback" style="display: block;">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
                <h6>Email</h6>
            </div>
            <div class="col-5">
                {{ user_form.email }}
                {% for error in user_form.email.errors %}
                    <div class="invalid-feedback error-message" id="passwordFeedback" style="display: block;">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex-row align-items-center">
            <div class="col-2">
                <h6>Upload avatar</h6>
            </div>
            <div class="col-5">
                <div class="d-flex flex-row align-items-center">
                    {% if current_profile.profile_picture %}
                        <img src="{{ current_profile.profile_picture.url }}" alt="Profile Image"
                            class="rounded-circle img-thumbnail profile-image-upload mb-2 me-3">
                    {% else %}
                        <img src="{{ default_profile_image }}" alt="Profile Image"
                            class="rounded-circle img-thumbnail profile-image-upload mb-2 me-3">
                    {% endif %}
                    <div id="fileInputWrapper">
                        <input type="file" name="profile_picture" accept="image/*" class="form-control" id="id_profile_picture">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
            </div>
            <div class="col-5">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
